@page
@model ogfg.recipeapp.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<strong>This page is still under construction</strong>

<div>
    <hr />

    <font size="14">@Html.DisplayFor(model => model.Recipe.Name)</font>
    <br />
    <b>Style:</b> @Html.DisplayFor(model => model.Recipe.Style)
    <br />
    <b>Brewer:</b> @Html.DisplayFor(model => model.Brewer)
    <br />
    <b>OG:</b> @Html.DisplayFor(model => model.Og)
    <br />
    <b>FG:</b> @Html.DisplayFor(model => model.Fg)
    <br />
    <b>ABV:</b> @Html.DisplayFor(model => model.ABV)
    <br />
    <b>Description:</b> @Html.DisplayFor(model => model.Recipe.Description)
    <br />
    <br />
    <br />

    <b>Average Rating: </b> @Html.DisplayFor(model => model.Rating)
    <br />
</div>

<div>
    <b>Comments:</b>

</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
