@page
@model ogfg.recipeapp.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Rating1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.Rating1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Rating2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.Rating2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Rating3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.Rating3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Rating4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.Rating4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.Rating5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.Rating5)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipe.LongUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipe.LongUrl)
        </dd>
    </dl>
</div>

<div>
    Brewer: @Html.DisplayFor(model => model.Brewer)<br/>
    OG: @Html.DisplayFor(model => model.Og)<br/>
    FG: @Html.DisplayFor(model => model.Fg)<br/>
    ABV: @Html.DisplayFor(model => model.ABV)<br/>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
