@page
@model ogfg.recipeapp.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].Rating1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].Rating2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].Rating3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].Rating4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].Rating5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].LongUrl)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Recipe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongUrl)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
