@page
@model ogfg.recipeapp.Pages.LabelModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Recipe</title>
    <script src="~/js/qrcode/qrcode.min.js"></script>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>


    @{
        ViewData["Title"] = "Label";
    }

    <table width="800px">
        <tr>
            <td>
                <div id="qrcode"></div>
                <script type="text/javascript">
var qrcode = new QRCode(document.getElementById("qrcode"), {
	text: "http://ogfg.link/@Model.Recipe.ShortUrl",
	width: 128,
	height: 128,
	colorDark : "#000000",
	colorLight : "#ffffff",
	correctLevel : QRCode.CorrectLevel.H
});
                </script>
            </td>
            <td>
                <div>
                    <font size="16">@Html.DisplayFor(model => model.Recipe.Name)</font><br />
                    Brewer: @Html.DisplayFor(model => model.Brewer)<br />
                    OG: @Html.DisplayFor(model => model.Og)<br />
                    FG: @Html.DisplayFor(model => model.Fg)<br />
                    ABV: @Html.DisplayFor(model => model.ABV)<br />
                    Description: @Html.DisplayFor(model => model.Recipe.Description)<br />
                </div>
            </td>
        </tr>
        <tr height="20"></tr>
        <tr>
            <td colspan="2">
                Scan the QR, or go to: http://ogfg.link/@Model.Recipe.ShortUrl<br />
                To rate the beer and get more info!
            </td>
        </tr>
    </table>
</body>
</html>